# Data folders
data/
outputs/

# Large parquet files
*.parquet

# Python environment
venv/
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Models
*.pkl

# Logs
*.log