# Data folders
data/

# Large parquet files
*.parquet

# Python environment
venv/
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Models
outputs/*
!outputs/model_lgb_final.pkl
!outputs/model_xgb_final.pkl
!outputs/calibrator_final.pkl
!outputs/feature_cols.pkl

# Logs
*.log

# Submission files
*.csv

notebooks/final_model_clean.pkl