# Data folders
data/
outputs/

# Large parquet files
*.parquet

# Python environment
venv/
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Mac files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Models
outputs/*
!outputs/model_lgb_final.pkl
!outputs/model_xgb_final.pkl
!outputs/calibrator_final.pkl
!outputs/feature_cols.pkl

# Logs
*.log

# Submission files
submission_final2.csv
submission_day7.csv
submission_final_day7.csv
